
.footer{
    margin-top: 1rem;
    padding: .5rem;
    padding-right: .6rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.footerIcon{
  padding-left: 5px;
  padding-right: 5px;
}