.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10;
  margin: 0;
  max-height: 300px;
  font-size: 1.25em;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
}

.navigationItem a {
  color: currentColor;
}

.navbar-brand img{
  object-fit: contain;
}